<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link rel="stylesheet" href="/index_style.css">
    <style>
       
    </style>
</head>
<body>
    <!-- NAVBAR. SHOULD CONTAIN LOGIN AND SIGN UP -->
   <div id="navbar">
    <a id="toggle-login" onclick="toggleLogin()">Log In</a>
    <a id="toggle-signup" onclick="toggleSignUp()">Sign Up</a>
    
    <!-- DIV THAT APPEARS WHEN LOGIN IS CLICKED -->
    <div id="login_toggle">
        <ul>
            <li><a href="/library-management-system/login-user">User</a></li>
            <li><a href="/library-management-system/loginlibrarian">Librarian</a></li>
            
        </ul>
    </div>    

    <!-- DIV THAT APPEARS WHEN SIGNUP IS CLICKED -->
    <div id="signup_toggle">
        <ul>
            <li><a href="/library-management-system/signup-user">User</a></li>
            <li><a href="/library-management-system/signup-librarian">Librarian</a></li>
        </ul>
    </div>
   </div>

   <script>
    // CONTROLS THE POPUP WHEN THE "SIGNUP" OR "LOGIN" IS CLICKED
    function toggleLogin(){
        var login_toggle = document.getElementById("login_toggle");
        login_toggle.classList.toggle('active');
    }
    // WHEN THE 
    function toggleSignUp(){
        var signup_toggle = document.getElementById("signup_toggle");
        signup_toggle.classList.toggle('active');
    }
   </script>
</body>
</html>