<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- THE CSS FILE -->
    <link rel="stylesheet" href="/login_style.css">
</head>
<body>
    <!-- DESIGN ONLY -->
    <div id="upperDesign"></div>
    <!-- DIVIISION INTENDED FOR THE FORM -->
    <div id="logInDiv">
        <!-- LOGIN FORM TAG -->
        <h1 id="logInFormTag">Log In</h1>
        <!-- LOG IN FORM -->
        <form id="logInForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Username"> <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password"><br>
            <button type="submit">Log In as a User</button>
        </form>
    </div>

    <script src="/userLogin_script.js">

    </script>
</body>
</html>