<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System - User Dashboard</title>
</head>
<body>
    <!-- DESIGN THIS FOR USER DASHBOARD -->
    <!-- BOOKS CURRENTLY BORROWED, BOOKS RETURNED, RESERVATIONS ACCEPTED, BOOKS BORROWED HISTORY, LATE RETURN BOOKS -->

    <!-- HERE ARE THE CURRENT LINKS TO THE USER OPERATIONS. THEY WILL BE NEEDED TO BE IMBUED IN THE SIDEBAR -->
    <button onclick="window.location.href='/library-management-system/users/dashboard/book-catalogue'">Book Catalogue</button>
    <button onclick="window.location.href='/library-management-system/users/profile'">User Profile</button>
    <button onclick="window.location.href=''">Reservation Requests Sent</button>
    <button onclick="window.location.href=''">Borrow Requests Sent </button>
    <button onclick="window.location.href=''">Accepted Requests</button>
</body>
</html>