body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px; /* Corrected 'auto' spelling */
    grid-template-rows: 150px 150px 150px 150px 125px;
}

#navbar {
    grid-column: 1/span 5;
    grid-row: 1;
    background-color: rgb(210, 210, 210);
    display: flex;
    padding-top: 50px;
    padding-left: 30px;
    color: rgb(31, 31, 31);
    font-size: 20px;
}

#profile_picture{
    width: 50px;
    height: 50px;
}


/* SIDEBAR */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0px;
    left: -250px;
    padding-top: 35px;
    background-color: #bebdbd;
    transition: left 0.3s ease;
    z-index: 3;
  }
  
  .sidebar.active {
    left: 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 20px;
    margin-left: 10px;
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .sidebar ul li:hover {
    background-color: #797979;
    transition: 1s;
  }
  
  .menu-toggle {
    position: fixed;
    left: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 3;
  }
  
  .menu-toggle i {
    font-size: 24px;
    color: #fff;
  }
  
  .sub-menu {
    display: none;
  }
  
  .sub-menu.active {
    display: block;
  }
  
  .sub-menu a {
    display: block;
    padding: 10px;
    padding-right: 15px;
    margin-top: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  .sidebar ul li a:hover {
    color:#a09e9e;
    transition: 1s;
  }

/* FOR BOOK CATALOGUE */

#bookCatalogueDiv{
  grid-column: 1/span 5;
  grid-row: 2/span 4;
  padding:20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Align items to the center horizontally */
}

/* .bookCatalogue{
  width: 150px;
  height: 200px;
  border: 2px solid black;
} */

.book {
  width: 130px;
  height: 200px;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.book .title {
  font-weight: bold;
}

#bookCatalogueDiv img{
  width: 100%;
  height: 150px;
}